<%- include('header'); -%>
<body>
    
        <img class="img-responsive" src="/images/timeguess.png" />
        <form action = "/" method = "post">
           <div class = "row justify-content-center" >
                <button type="submit" class="btn btn-lg">Start!</button>
            </div>
        </form>
 
   


</body>
</html>


